Filter Zero/Win32/
Filter Zero/x64/
Filter Zero/Filter Zero/Debug/
Filter Zero/Filter Zero/x64/
Filter Zero/Filter Zero/Release/
Filter Zero/Filter Zero/GeneratedFiles/
Filter Zero/Filter Zero/GeneratedFiles/Debug/
Filter Zero/Filter Zero/GeneratedFiles/Release/
*.user
*.opensdf
